.olwrap * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.olwrap{
    background:#fff;
    margin: 2rem 1rem 0 0;
    padding: 1.5rem 0;
}
.olcontain{
	padding:0 15px;
	width:100%;
	//
	&:after{
		content:'';
		display: block;
		clear: both;
	}
}